{% extends 'main/layout.html' %} {% block title %} Добавить запись {% endblock %} {% block content %}
<div class="createnews">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>Удалить запись?</h1>
                <form method="post">
                    {% csrf_token %}
                    <div class="col-12 m_btn"><button class="btn btn-success" type="submit">Удалить</button></div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}