{% extends 'main/layout.html' %} {% block title %} {{ article.title }} {% endblock %} {% block content %}
<section class="bodynews">
    <div class="newspage">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h1>{{ article.title }}</h1>
                </div>
                <div class="col-12">
                    <p>
                        {{ article.full_text }}
                    </p>
                </div>
            </div>
            <div class="col-2">{{ article.date }}</div>
            <div class="col-12 m_btn">
                <a href="{% url 'news-update' article.id %}" class="btn btn-warning text-white">Обновить запись</a>
                <a href="{% url 'news-delete' article.id %}" class="btn btn-danger">Удалить запись</a>
            </div>
        </div>
    </div>
</section>
{% endblock %}