{% extends 'main/layout.html' %} {% block title %} Добавить запись {% endblock %} {% block content %}
<div class="createnews">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>Обновить запись</h1>
                <form method="post">
                    {% csrf_token %} {{ form.title }} <br>{{ form.anons }} <br>{{ form.full_text }} <br>{{ form.date }} <br>

                    <span class="text-white">{{ error }}</span>
                    <div class="col-12 m_btn">
                        <button class="btn btn-success" type="submit">Обновить</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}