{% extends 'main/layout.html' %} {% block title %} Обо мне {% endblock %} {% block content %}
<section class="bodycontacts">
    <div class="contactspage">
        <h1>Контакты</h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Non quae fuga eligendi harum tempora architecto impedit optio, sapiente ea explicabo labore! Eum nesciunt eius vel laboriosam, praesentium labore odit explicabo!</p>
        <a href="" class="btn btn-primary" role="button">Ссылка</a>
    </div>
</section>
{% endblock %}